# Rules in this file were initially inferred by Visual Studio IntelliCode from the C:\Users\WeBuy\Desktop\HU\UanlSISM2\UanlSISM\UanlSISM\UanlSISM\App_Data\ codebase based on best match to current usage at 24/09/2020
# You can modify the rules from these initially generated values to suit your own policies
# You can learn more about editorconfig here: https://docs.microsoft.com/en-us/visualstudio/ide/editorconfig-code-style-settings-reference
[*.cs]

